[Desktop Entry]
Comment=Windows 7 Aero Classic style (neutral glass, no blue tint)
Name=Win7k
X-KDE-PluginInfo-Author=Infinality
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Seven-Aero
X-KDE-PluginInfo-Version=0.5-0.1
